@charset "UTF-8";
.subm-button {
  width: 29%;
  background-color: #116466;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}
.subm-button:hover {
  color: #116466;
  background-color: white;
  outline: 3px solid #116466;
  transition: 0.2s;
}
.subm-button button {
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.subm-button button :hover {
  color: #116466;
}

.dont {
  text-decoration: none;
  color: #116466;
  font-weight: 600;
}
.dont:hover {
  text-decoration: none;
  color: #116466;
  font-weight: 600;
}

.log-out {
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.log-out:hover {
  background-color: white;
  color: white;
  transition: 0.2s;
}

.btn-custom {
  background-color: white;
  color: #116466;
  outline: 2px solid #116466;
}
.btn-custom:hover {
  color: white;
  background-color: #116466;
}

.btn-custom2 {
  background-color: #116466;
  color: white;
  font-weight: 600;
}
.btn-custom2:hover {
  background-color: white;
  color: #116466;
  outline: 2px solid #116466;
}

.btn-start {
  background-color: #116466;
  color: white;
  font-weight: 600;
}
.btn-start:hover {
  color: white;
  background-color: #116466;
}

.width-40 {
  width: 40%;
}

.hidden-btn {
  visibility: hidden;
}

.title {
  font-weight: bolder;
  margin-bottom: 30px;
  color: #116466;
}

label {
  color: rgb(82, 81, 81);
  font-weight: 700;
}

.title-test {
  width: 100%;
  margin-top: 15px;
}

.test-card ul {
  padding: 20px;
}
.test-card ul li {
  list-style-type: none;
  background: white;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}
.test-card ul li a {
  text-decoration: none;
  color: #116466;
  font-weight: 700;
}
.test-card ul li:hover {
  outline: solid 2px white;
  background-color: #116466;
  transition: 0.2s;
}
.test-card ul li:hover a {
  color: white;
}

.test-card {
  background-color: white;
  border-radius: 16px;
}
.test-card .card-title {
  font-weight: 700;
}

.pag-btn {
  background-color: #116466 !important;
  color: white !important;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.pag-btn:hover {
  background-color: white !important;
  color: #116466 !important;
  outline: 2px solid #116466 !important;
  transition: 0.2s;
}

.active-pag-ptn {
  background-color: white !important;
  color: #116466 !important;
  border: 1px solid #116466 !important;
  font-size: 18px;
  font-weight: 600;
}

.form-container {
  background-color: white;
  width: 600px;
  margin: 15vh auto;
  padding: 15px;
  border: 1px solid rgb(235, 232, 232);
  border-radius: 14px;
}
.form-container label {
  color: black;
  font-weight: 400;
}

.hom-body {
  background-image: url("/bgH.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-attachment: fixed; /* Ensures the background stays fixed */
}

.container {
  max-width: 1200px;
  margin-top: 20px;
}

.create-test-card {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  height: 50%;
  margin-bottom: 20px;
}

.test-item {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
}

.test-item h4 {
  margin-bottom: 15px;
  text-transform: capitalize;
}

.test-item p {
  color: #116466;
}

.test-actions {
  margin-top: 15px;
  display: flex;
}

.test-actions button {
  width: 50%;
  margin-left: 10px;
}

body {
  background-color: #f1f0f0;
}

.correct-answer {
  background-color: #d4edda;
}

.wrong-answer {
  background-color: #f8d7da;
}

.correct-question {
  border: 2px solid rgb(1, 77, 1);
  padding: 10px;
}

.wrong-question {
  border: 2px solid rgb(207, 2, 2);
  padding: 10px;
}

.question-score {
  font-weight: bold;
}

.correct-icon {
  color: green;
  margin-left: 10px;
}

.wrong-icon {
  color: red;
  margin-left: 10px;
}

.container-r {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 700px;
}

.result-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.result-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-icon {
  font-size: 50px;
}

.result-info {
  flex-grow: 1;
  margin-left: 20px;
}

.result-info p {
  margin: 40px 0px;
  color: rgb(73, 73, 73);
  text-align: center;
}

.score-details {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.score-details div {
  text-align: center;
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}

.btn-container button {
  width: 150px;
}

.score-circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: green;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#last-points {
  color: rgb(73, 73, 73);
}

.score {
  color: #116466;
  opacity: 0.8;
}

.card-img-top {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 512px) {
  #welcome-heading {
    font-size: 21px;
  }
  .welcome p {
    font-size: 18px;
  }
}
.test-body {
  background-image: url("/bgh2.png");
  background-size: cover;
  /* تغطية الصفحة بالكامل بالصورة */
  background-repeat: no-repeat;
  /* منع تكرار الصورة */
  height: 100vh;
  width: 100%;
  margin: 0;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.diabled-btn {
  display: none;
}

.pg {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.pg .pg > li {
  display: block;
}

.side-menu a:hover {
  text-decoration: underline;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  animation: blink 1s infinite;
}

.home-body {
  background-image: url("/bgN.png");
  background-size: cover;
  /* تغطية الصفحة بالكامل بالصورة */
  background-repeat: no-repeat;
  /* منع تكرار الصورة */
  height: 100vh;
  width: 100%;
  margin: 0;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 991px) { /* Bootstrap's 'lg' breakpoint is 992px and up */
  .home-body {
    overflow: auto; /* Prevent scrolling */
  }
}
.carousel-item {
  height: 100vh;
  /* تعيين ارتفاع كل عنصر كاروسيل ليغطي الشاشة بالكامل */
}

.carousel-inner {
  height: 100%;
  /* تعيين ارتفاع الكاروسيل ليملأ العنصر الأب */
}

.home-h1 {
  color: #116466;
}

.svg {
  max-height: 80%;
  /* تحديد أقصى ارتفاع للـ SVG بحيث يتناسب مع الشاشة */
  margin-left: auto;
  margin-right: auto;
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Apply animations */
.animate-from-top {
  animation: fromTop 1.5s ease-out forwards;
}

.animate-from-left {
  animation: fromLeft 1.5s ease-out forwards;
}

.animate-from-bottom {
  animation: fromBottom 1.5s ease-out forwards;
}

/* Ensure that the parent container takes full height */
.-body {
  background-color: #116466;
  height: 100vh;
  width: 100%;
  margin: 0;
}/*# sourceMappingURL=main.css.map */